<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://ucsbcarpentry.github.io/2021-11-04-ucsb-sql-online/00-intro/">Zoom Carpentry Intro and Setup</a> </td></tr>
      <tr> <td>09:20</td>  <td><a href="https://ucsbcarpentry.github.io/2021-11-04-ucsb-sql-online/01-format-data/">Data Management with SQL</a> </td> </tr>
      <tr> <td>10:20</td>  <td><a href="https://datacarpentry.org/sql-socialsci/02-db-browser/index.html">Using DB Browser</a> </td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://ucsbcarpentry.github.io/2021-11-04-ucsb-sql-online/12-create/">Creating and Modifying Data</a> </td> </tr>
      <tr> <td>10:50</td>  <td>BREAK</td></tr>
      <tr> <td>11:05</td>  <td><a href="https://ucsbcarpentry.github.io/2021-11-04-ucsb-sql-online/04-select/">Selecting Data</a> </td></tr>
      <tr> <td>11:25</td>  <td><a href="https://ucsbcarpentry.github.io/2021-11-04-ucsb-sql-online/05-sort-dup/">Sorting and Removing Duplicates</a> </td></tr>
      <tr> <td>11:45</td>  <td><a href="https://ucsbcarpentry.github.io/2021-11-04-ucsb-sql-online/06-filter/">Filtering</a> </td></tr>
      <tr> <td>12:00</td>  <td>Projected End Time</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Review</td> </tr>
      <tr> <td>09:20</td>  <td><a href="https://ucsbcarpentry.github.io/2021-11-04-ucsb-sql-online/07-calc/">Calculating New Values</a> </td></tr>
      <tr> <td>09:30</td>  <td><a href="https://ucsbcarpentry.github.io/2021-11-04-ucsb-sql-online/08-null/">Missing Data</a> </td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://ucsbcarpentry.github.io/2021-11-04-ucsb-sql-online/09-agg/">Aggregation</a> </td> </tr>
      <tr> <td>10:20</td>  <td>BREAK</td> </tr>
      <tr> <td>10:35</td>  <td><a href="https://ucsbcarpentry.github.io/2021-11-04-ucsb-sql-online/10-join/">Combining Data</a> </td> </tr>
      <tr> <td>11:15</td>  <td><a href="https://ucsbcarpentry.github.io/2021-11-04-ucsb-sql-online/11-hygiene/">Data Hygiene</a> </td> </tr>
      <tr> <td>11:45</td>  <td><a href="https://ucsbcarpentry.github.io/2021-11-04-ucsb-sql-online/13-prog/">Programming with Databases - Python</a></td></tr>
      <tr> <td>12:00</td>  <td>Projected End Time</td></tr>
    </table>
  </div>
</div>
