<div id="sql">
  <h3><b>DB Browser for SQLite</b></h3>

  <p>For this workshop, please install the DB Browser for SQL.
    The software can be downloaded from the <a href="http://sqlitebrowser.org/">DB Browser</a> site. There are specific versions for 
    Windows and Mac users.
  </p>

  <p>If you are familiar with the command line, the instructions for installing "Git Bash" and "Sqlite" are further down the page.</p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#sql-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#sql-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#sql-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
      <li role="presentation"><a data-os="web" href="#sql-web" aria-controls="Web" role="tab" data-toggle="tab">Web</a></li>
      <li role="presentation"><a data-os="data" href="#sql-data" aria-controls="Data for workshop" role="tab" data-toggle="tab">Data for Workshop</a></li> 
    </ul>
    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="sql-windows">
        <ul>
          <li>For a current Windows environment, the <b>64-bit Standard windows installer</b> will be most appropriate</li>
          <li>Download the executable file and open the installation wizard</li>
          <li>Select all the default options in the wizard. Once the installation is successful, the application will automatically launch.</li>
        </ul>
      </article>
      <article role="tabpanel" class="tab-pane" id="sql-macos">
        <ul>
          <li>For a current Mac environment, the <b>3.12.2 DB Brwoser for SqLite</b> will be most appropriate</li>
          <li>Download the executable file and open the installation wizard</li>
          <li>Select all the default options in the wizard. Once the installation is successful, the application will automatically launch.</li>
        </ul>
      </article>
      <article role="tabpanel" class="tab-pane" id="sql-linux">
        <p>
          The latest Linux release of DB Browser is available as an AppImage, Snap Package, and distrubution specific package.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="sql-web">
        <ul>
          <li>In case of problems: register for an account at <a href="https://www.pythonanywhere.com/">https://www.pythonanywhere.com</a></li>
          <li>Download <a href="http://swcarpentry.github.io/sql-novice-survey/files/survey.db">survey.db</a></li>
          <li>Click on files and upload survey.db</li>
          <li>Click on dashboard and Choose new console <code>bash</code></li>
        </ul>
      </article>
      <article role="tabpanel" class="tab-pane" id="sql-data">
        <ul>
          <p>Download the following datasets into a folder on your desktop where it will be easy for you to find. Make sure the location is actually your desktop 
          and not a OneDrive or Google Drive folder. 
          </p>
          <li><a href="https://drive.google.com/file/d/1AgKH8g9SoVTx1Bb1Ay0XUuf8CL1kqNe7/view?usp=sharing">Chinook Database</a></li>
          <li><a href="https://drive.google.com/file/d/1G-rZ70LYIBEffN9u_LrWB1g_M6lHpIT5/view?usp=sharing">SQL_Safi.csv</a></li>
          <li><a href="https://drive.google.com/file/d/1eVJF4U3ug78B-GsOKTIqzeowCsONozfc/view?usp=sharing">survey.db</a></li>
        </ul>
      </article>
    </div>
  </div>
</div>
